# User-specific files
*.suo
*.user
*.sln.docstates
.vs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Other
appsettings.json
efpt.config.json
/Tasko.Server/Properties/PublishProfiles/FTPProfile.pubxml

*/*/console-internal.log
