@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="wrapper">

            <Sidebar />

            @Body
        </div>
    </Authorized>

    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>
