@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="wrapper">

            <Sidebar />
            <div class="page">
                @Body
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>
