<div class="sidebar">
    <div class="sidebar-logo">
        <div class="sidebar-logo__content">
            <img class="sidebar-logo__image" src="/assets/images/logo.svg">
            <span>Task`o</span>
        </div>
        <div class="@NavMenuCssClass" @onclick="ToggleSideBar">
            <div class="sidebar-toggle__item"></div>
            <div class="sidebar-toggle__item"></div>
        </div>
        <div class="sidebar-toggle-background"></div>
        <div class="sidebar-toggle-content"></div>
    </div>
    <div class="sidebar-menu">

        <NavLink class="sidebar-menu__item" href="" Match="NavLinkMatch.All">
            <img src="/assets/images/icons/Category.svg">
            <span>Панель управления</span>
        </NavLink>

        <NavLink class="sidebar-menu__item" href="profile">
            <img src="/assets/images/icons/Profile.svg">
            <span>Профиль</span>
        </NavLink>

        <NavLink class="sidebar-menu__item" href="logout">
            <img src="/assets/images/icons/Category.svg">
            <span>Выход</span>
        </NavLink>
    </div>
</div>

@code {


    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "sidebar-toggle" : "sidebar-toggle active";

    private void ToggleSideBar()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}
