<div class="tasknavbar">
    <div class="tasknavbar-info">
        <div class="tasknavbar-info-boardname">@BoardName</div>
        <div class="tasknavbar-info-filter dropdown-block">
            Показать фильтры
            <div class="dropdown">
                <div class="dropdown-item">По возрастанию</div>
                <div class="dropdown-item">По убыванию</div>
            </div>
            <svg width="9" height="5" viewbox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.44275 0.749376C8.44275 0.940376 8.36975 1.13238 8.22375 1.27838L4.75375 4.76538C4.61275 4.90638 4.42175 4.98538 4.22175 4.98538C4.02275 4.98538 3.83175 4.90638 3.69075 4.76538L0.218751 1.27838C-0.0732494 0.985376 -0.0732494 0.511376 0.220751 0.218376C0.514751 -0.0736236 0.989751 -0.0726236 1.28175 0.220376L4.22175 3.17338L7.16175 0.220376C7.45375 -0.0726236 7.92775 -0.0736236 8.22175 0.218376C8.36975 0.364376 8.44275 0.557376 8.44275 0.749376Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <div class="tasknavbar-settings">
        <div class="tasknavbar-members">
            <div class="tasknavbar-member"><img src="https://sun9-75.userapi.com/impg/DEOK5L2qIwif95nINZP2lMc0En_UhnPOUWgMNQ/07BCpJFoeHo.jpg?size=2160x2160&amp;quality=96&amp;sign=0706decc844288c1e4026a3ee4e72330&amp;type=album" /></div>
            <div class="tasknavbar-member"><img src="https://sun9-75.userapi.com/impg/DEOK5L2qIwif95nINZP2lMc0En_UhnPOUWgMNQ/07BCpJFoeHo.jpg?size=2160x2160&amp;quality=96&amp;sign=0706decc844288c1e4026a3ee4e72330&amp;type=album" /></div>
            <div class="tasknavbar-member"><img src="https://sun9-75.userapi.com/impg/DEOK5L2qIwif95nINZP2lMc0En_UhnPOUWgMNQ/07BCpJFoeHo.jpg?size=2160x2160&amp;quality=96&amp;sign=0706decc844288c1e4026a3ee4e72330&amp;type=album" /></div>
            <div class="tasknavbar-member__count">+15</div>
        </div>
        <div class="tasknavbar-access dropdown-block">
            Приватный
            <svg width="9" height="5" viewbox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.44275 0.749376C8.44275 0.940376 8.36975 1.13238 8.22375 1.27838L4.75375 4.76538C4.61275 4.90638 4.42175 4.98538 4.22175 4.98538C4.02275 4.98538 3.83175 4.90638 3.69075 4.76538L0.218751 1.27838C-0.0732494 0.985376 -0.0732494 0.511376 0.220751 0.218376C0.514751 -0.0736236 0.989751 -0.0726236 1.28175 0.220376L4.22175 3.17338L7.16175 0.220376C7.45375 -0.0726236 7.92775 -0.0736236 8.22175 0.218376C8.36975 0.364376 8.44275 0.557376 8.44275 0.749376Z" fill="currentColor"></path>
            </svg>
            <div class="dropdown">
                <div class="dropdown-item">Приватный</div>
                <div class="dropdown-item">Публичный</div>
            </div>
        </div>
        <div class="tasknavbar-view">
            <div class="tasknavbar-view__type active">
                <svg width="33" height="32" viewbox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.4" d="M20.3966 6.6665H23.5569C24.8657 6.6665 25.9262 7.73597 25.9262 9.0558V12.2427C25.9262 13.5626 24.8657 14.632 23.5569 14.632H20.3966C19.0878 14.632 18.0273 13.5626 18.0273 12.2427V9.0558C18.0273 7.73597 19.0878 6.6665 20.3966 6.6665" fill="#717171"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.62857 6.6665H12.7888C14.0976 6.6665 15.1581 7.73597 15.1581 9.0558V12.2427C15.1581 13.5626 14.0976 14.632 12.7888 14.632H9.62857C8.31978 14.632 7.25928 13.5626 7.25928 12.2427V9.0558C7.25928 7.73597 8.31978 6.6665 9.62857 6.6665ZM9.62857 17.3675H12.7888C14.0976 17.3675 15.1581 18.4369 15.1581 19.7568V22.9437C15.1581 24.2626 14.0976 25.333 12.7888 25.333H9.62857C8.31978 25.333 7.25928 24.2626 7.25928 22.9437V19.7568C7.25928 18.4369 8.31978 17.3675 9.62857 17.3675ZM23.5568 17.3675H20.3965C19.0878 17.3675 18.0272 18.4369 18.0272 19.7568V22.9437C18.0272 24.2626 19.0878 25.333 20.3965 25.333H23.5568C24.8656 25.333 25.9261 24.2626 25.9261 22.9437V19.7568C25.9261 18.4369 24.8656 17.3675 23.5568 17.3675Z" fill="#717171"></path>
                </svg>
            </div>
            <div class="tasknavbar-view__type">
                <svg width="33" height="32" viewbox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="7.59277" y="7" width="18" height="7" rx="2" fill="#C6C6C6"></rect>
                    <rect x="7.59277" y="18" width="18" height="7" rx="2" fill="#717171"></rect>
                </svg>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string BoardName { get; set; }

}
