@page "/"

@using Tasko.Client.Helpers;

@inject NavigationManager Navigation
@inject AuthStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized Context="Auth">
        <span>Авторизован</span>
    </Authorized>
    <NotAuthorized Context="Login">
        <div class="login-content">
            <div class="login-panel login-panel-left">
                <div class="login-form">
                    <img class="logo" src="/assets/images/logo.svg">
                    <h1>Welcome to Task`o!</h1>
                    <p>For continue, please, sing in/up in your Task`o account</p>

                    <EditForm Model="@LoginViewModel" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="alert alert-danger" hidden="@LoginViewModel.LoginFailureHidden">
                            Invalid login attempt, please correct and try again.
                        </div>
                        <div class="form-control">
                            <label>Email or phone</label>
                            <InputText id="email" @bind-Value="LoginViewModel.Username" class="form-input" />
                        </div>
                        <div class="form-control">
                            <label class="form-label">Password</label>
                            <InputText id="password" type="password" @bind-Value="LoginViewModel.Password" class="form-input" />
                        </div>
                        <div class="login-form-buttons mt-3">
                            <div class="login-form-buttons-left">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                                <NavLink class="btn btn-secondary ml-3" href="/registration" Match="NavLinkMatch.All">
                                    Sign Up
                                </NavLink>
                            </div>

                            <NavLink class="btn btn-link" href="/registration" Match="NavLinkMatch.All">
                                Забыли пароль?
                            </NavLink>
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="login-panel login-panel-right">
                <div class="login-panel-right-content">
                    <h2 class="login-form-header-description">What is Task`o?</h2>
                    <p class="login-form-description">
                        @*Task`o - this is a local program for managment projects different*@
                        sizes.
                    </p>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {

    [Inject]
    protected ILoginViewModel LoginViewModel { get; set; }

    private async Task HandleValidSubmit()
    {
        var jwtToken = await LoginViewModel.ValidateLoginAsync();

        //Not successful, don't need to do anything
        if (string.IsNullOrEmpty(jwtToken))
            return;

        //Call login and recirect
        await AuthStateProvider.Login(jwtToken);
        Navigation.NavigateTo("/profile"); //Root URL
    }
}