@page "/profile"
@inject Tasko.Client.Helpers.AuthStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        
    </Authorized>
    <NotAuthorized>
        <span>Ты не авторизован</span>
    </NotAuthorized>
</AuthorizeView>


@code {



}
