@page "/profile"
@inject Tasko.Client.Helpers.AuthStateProvider AuthStateProvider
@attribute [Authorize]

<h1>Profile</h1>


<AuthorizeView>
    <Authorized>
        <span>Ты авторизован @context.User.Identity.Name</span>
        <span>Ваша роль: @context.User.Identity</span>
        <span>Ваша почта: @context.User.FindFirst("Email")?.Value</span>
    </Authorized>
    <NotAuthorized>
        <span>Ты не авторизован</span>
    </NotAuthorized>
</AuthorizeView>


@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        var test = AuthStateProvider.GetAuthenticationStateAsync();
    }

}
