@page "/registration"

@using Tasko.Client.Helpers;
@inject NavigationManager Navigation
@inject AuthStateProvider AuthStateProvider


<div class="login-content">
    <div class="login-panel login-panel-left">

        <div class="login-form">
            <img class="logo" src="/assets/images/logo.svg">
            <h1>Welcome to Task`o!</h1>
            <p>For continue, please, sing in/up in your Task`o account</p>

            <EditForm Model="@RegisterViewModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="alert alert-danger" hidden="@RegisterViewModel.LoginFailureHidden">
                    @RegisterViewModel.ErrorMessage
                </div>

                <div class="form-control">
                    <label>Фамилия</label>
                    <InputText id="email" @bind-Value="RegisterViewModel.LastName" class="form-input" />
                </div>

                <div class="form-control">
                    <label>Имя</label>
                    <InputText id="email" @bind-Value="RegisterViewModel.FirstName" class="form-input" />
                </div>

                <div class="form-control">
                    <label>Отчество</label>
                    <InputText id="email" @bind-Value="RegisterViewModel.Patronymic" class="form-input" />
                </div>

                <div class="form-control">
                    <label>Логин</label>
                    <InputText id="email" @bind-Value="RegisterViewModel.Username" class="form-input" />
                </div>

                <div class="form-control">
                    <label>Email</label>
                    <InputText id="email" @bind-Value="RegisterViewModel.Email" class="form-input" />
                </div>

                <div class="form-control">
                    <label class="form-label">Password</label>
                    <InputText id="password" type="password" @bind-Value="RegisterViewModel.Password" class="form-input" />
                </div>

                <div class="login-form-buttons mt-3">
                    <div class="login-form-buttons-left">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <input class="btn btn-secondary ml-3" type="button" value="Sing up">
                    </div>
                    <a class="btn btn-link" href="#">Forget password?</a>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="login-panel login-panel-right">
        <div class="login-panel-right-content">
            <h2 class="login-form-header-description">What is Task`o?</h2>
            <p class="login-form-description">
                Task`o - this is a local program for managment projects different
                sizes.
            </p>
        </div>
    </div>
</div>

@code {

    [Inject]
    protected IRegisterViewModel RegisterViewModel { get; set; }

    private async Task HandleValidSubmit()
    {

        var checkUser = await RegisterViewModel.RegistrationAsync();

        if (checkUser == null)
            return;

        await SecureStorage.SetAsync("Initials", $"{checkUser.User.LastName} {checkUser.User.FirstName[0]}. {checkUser.User.Patronymic[0]}.");

        if (string.IsNullOrEmpty(checkUser.User.Photo) == false)
            await SecureStorage.SetAsync("Photo", checkUser.User.Photo);

        if (string.IsNullOrEmpty(checkUser.User.About) == false)
            await SecureStorage.SetAsync("UserAbout", checkUser.User.About);

        await SecureStorage.SetAsync("UserId", checkUser.User.Id.ToString());
        await AuthStateProvider.Login(checkUser.Token);
        Navigation.NavigateTo("/counter");
    }
}
