@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);

.validation-errors {

}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    margin: 0;
    padding: 0
}

body {
    overflow: hidden
}

input:active, input:focus {
    outline: none !important
}

::-webkit-input-placeholder {
    color: rgba(89,89,89,.56)
}

::-moz-placeholder {
    color: rgba(89,89,89,.56);
    opacity: 1
}

:-ms-input-placeholder {
    color: rgba(89,89,89,.56)
}

::-ms-input-placeholder {
    color: rgba(89,89,89,.56)
}

::placeholder {
    color: rgba(89,89,89,.56)
}

.mt-3 {
    margin-top: 15px
}

.ml-3 {
    margin-left: 15px
}

.text {
    color: #657786
}

.headline {
    color: #142232
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%
}

    .wrapper .sidebar {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        width: 15%;
        background-color: #fff
    }

    .wrapper .page {
        width: 85%
    }

        .wrapper .page .content {
            height: calc(100% - 70px)
        }

.login-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.login-panel {
    height: 100vh
}

.login-panel-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%
}

.login-panel-right {
    width: 50%;
    position: relative;
    overflow: hidden;
    background-color: #739fe4;
    background-image: url(/assets/images/login-form-image.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%
}

.login-panel-right-content {
    position: absolute;
    left: 30px;
    bottom: 30px
}

    .login-panel-right-content h2 {
        color: #fff;
        font-size: 22px;
        font-weight: 600
    }

    .login-panel-right-content p {
        color: #cfdef6;
        margin-top: 10px
    }

.login-panel-right img {
    width: 100%
}

.login-form img {
    width: 48px
}

.login-form h1 {
    font-weight: 800;
    margin-top: 15px
}

.login-form p {
    color: #6f6f6f;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px
}

.login-form-buttons {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.login-form-buttons, .task-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.task-content {
    padding: 0 30px;
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100% - 130px)
}

.task-footer, .task-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.task-footer {
    margin-top: 15px
}

.task-footer, .task-footer-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.task-footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48%
}

    .task-footer-info::-webkit-scrollbar {
        display: none
    }

.task-footer-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px
}

    .task-footer-info-block:first-child {
        margin-left: 0
    }

    .task-footer-info-block svg {
        cursor: default
    }

.task-footer-info-content {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #657786;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    cursor: text
}

.task-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: #f3f8fe;
    min-width: 320px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content
}

.task-board-info-name {
    font-size: 18px;
    font-weight: 700;
    color: #142232
}

.task-board-info-count {
    font-size: 14px;
    font-weight: 500;
    color: #657786;
    margin-top: 5px;
    margin-bottom: 15px
}

.task-board:last-child {
    margin-right: 0
}

.task-photo {
    position: relative;
    background-size: cover;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    z-index: 20
}

.task-block {
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px 20px 15px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer
}

    .task-block .task-image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #f3f8fe;
        border-radius: 8px;
        width: 100%;
        height: 180px;
        margin-top: 15px;
        position: relative
    }

    .task-block .task-image, .task-block .task-image-amount {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s
    }

    .task-block .task-image-amount {
        position: absolute;
        left: 15px;
        bottom: 15px;
        z-index: 20;
        color: #fff;
        background: rgba(0,0,0,.5);
        padding: 8px 10px;
        font-weight: 500;
        border-radius: 5px;
        opacity: 0
    }

    .task-block .task-image:hover {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02)
    }

        .task-block .task-image:hover .task-image-amount {
            opacity: 1
        }

    .task-block h3 {
        font-size: 16px;
        font-weight: 700;
        color: #142232
    }

.task-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 8px 0 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

    .task-tags:hover {
        height: 45px;
        padding-bottom: 15px
    }

        .task-tags:hover .task-tag > span {
            opacity: 1
        }

.task-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    position: relative
}

    .task-tag, .task-tag span {
        width: 100%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        overflow: hidden
    }

        .task-tag span {
            font-size: 12px;
            opacity: 0;
            font-weight: 400;
            color: #fff;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center
        }

        .task-tag:hover {
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            z-index: 10;
            cursor: pointer;
            width: 250%;
            padding: 0 15px
        }

            .task-tag:hover .task-delete {
                opacity: 1
            }

        .task-tag.pink {
            background-color: #7f44cb
        }

        .task-tag.red {
            background-color: #cb444a
        }

        .task-tag.green {
            background-color: #6cc2a4
        }

        .task-tag.orange {
            background-color: #ff9c29
        }

        .task-tag.blue {
            background-color: #316cf4
        }

        .task-tag.yellow {
            background-color: #f5c344
        }

.profile {
    position: relative
}

.profile-background {
    background-image: url(/default-profile-background.png);
    background-size: cover;
    height: 250px;
    width: 100%
}

.profile-info {
    position: absolute;
    left: 30px;
    top: 150px
}

.profile-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 10px
}

.profile-initials {
    margin: 0 20px
}

    .profile-initials p.text {
        font-size: 15px;
        font-weight: 500;
        margin-top: 5px
    }

    .profile-initials .status {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 10px;
        margin-left: -10px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s
    }

        .profile-initials .status:hover {
            background-color: #ededed
        }

        .profile-initials .status span {
            margin-left: 2px;
            font-size: 15px;
            font-weight: 600
        }

.profile-buttons {
    margin-top: 15px
}

.profile-navigation {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 430px;
    height: 80px
}

.form-control, .profile-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.form-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-top: 15px
}

    .form-control label {
        margin-bottom: 10px;
        font-weight: 500;
        color: #6f6f6f;
        font-size: 14px
    }

    .form-control input {
        background: #f5f5f5;
        border: 1px solid #e3e3e3;
        color: #595959;
        padding: 10px;
        border-radius: 5px;
        font-weight: 600
    }

        .form-control input:focus {
            border: 1px solid #e3e3e3
        }

.search-control {
    position: relative
}

    .search-control img {
        position: absolute;
        left: 8px;
        top: 8px
    }

    .search-control input {
        border-radius: 8px;
        background: #f5f5f5;
        padding: 9px 10px 11px 38px;
        color: #595959;
        font-weight: 600
    }

        .search-control input, .search-control input:focus, .search-control input:focus-visible {
            border: 1px solid #e3e3e3
        }

.dropdown {
    position: absolute;
    z-index: -10;
    opacity: 0;
    top: 30px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    border: 1px solid hsla(0,0%,89%,.8);
    padding: 15px
}

.dropdown, .dropdown-item {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.dropdown-item {
    padding: 10px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    color: #657786
}

    .dropdown-item:hover {
        background: rgba(101,119,134,.1);
        cursor: pointer
    }

.dropdown-block.active {
    position: relative
}

    .dropdown-block.active > .dropdown {
        opacity: 1;
        z-index: 100
    }

.btn {
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    padding: 13px 25px;
    border: none;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-size: 14px;
    text-decoration: none
}

.btn-primary {
    background-color: #030303;
    border: 1px solid #030303;
    color: #fff
}

    .btn-primary:hover {
        background-color: #000;
        border: 1px solid #000;
        -webkit-box-shadow: 0 0 0 2px rgba(3,3,3,.3);
        box-shadow: 0 0 0 2px rgba(3,3,3,.3)
    }

    .btn-primary:active {
        -webkit-box-shadow: 0 0 0 2px rgba(3,3,3,.5);
        box-shadow: 0 0 0 2px rgba(3,3,3,.5)
    }

.btn-secondary {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    color: #595959
}

    .btn-secondary:hover {
        background-color: #ededed;
        -webkit-box-shadow: 0 0 0 2px hsla(0,0%,96.1%,.3);
        box-shadow: 0 0 0 2px hsla(0,0%,96.1%,.3)
    }

    .btn-secondary:active {
        -webkit-box-shadow: 0 0 0 2px hsla(0,0%,96.1%,.5);
        box-shadow: 0 0 0 2px hsla(0,0%,96.1%,.5)
    }

.btn-link {
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    font-weight: 500;
    color: #6f6f6f;
    color: #657786
}

    .btn-link:hover {
        color: #316cf4;
        text-decoration: underline
    }

.sidebar {
    border-right: 1px solid #e3e3e3
}

.sidebar-logo {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    padding: 25px
}

.sidebar-logo, .sidebar-logo__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .sidebar-logo__content, .sidebar-logo__content img {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s
    }

        .sidebar-logo__content img {
            width: 48px
        }

        .sidebar-logo__content span {
            margin-left: 10px;
            font-size: 22px;
            font-weight: 700;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s
        }

.sidebar-toggle {
    width: 40px;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    display: none
}

.sidebar-toggle__item {
    margin: 10px 0
}

    .sidebar-toggle__item, .sidebar-toggle__item:first-child:after {
        width: 100%;
        height: 3px;
        background: #717171;
        border-radius: 5px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s
    }

        .sidebar-toggle__item:first-child:after {
            content: "";
            display: block;
            margin: 11px 0
        }

.sidebar-toggle.active .sidebar-toggle__item:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: -6px 0 0
}

    .sidebar-toggle.active .sidebar-toggle__item:first-child:first-child:after {
        -webkit-transform: rotate(45deg) translateX(50px);
        -ms-transform: rotate(45deg) translateX(50px);
        transform: rotate(45deg) translateX(50px);
        margin: 2px 0 0;
        opacity: 0
    }

.sidebar-toggle.active .sidebar-toggle__item:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -2px 0 0
}

.sidebar-toggle.active ~ .sidebar-toggle-background, .sidebar-toggle.active ~ .sidebar-toggle-content {
    z-index: 10;
    opacity: 1
}

.sidebar-toggle-content {
    height: 500px;
    z-index: 15;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: -10
}

.sidebar-toggle-background, .sidebar-toggle-content {
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    left: 0;
    top: 81px
}

.sidebar-toggle-background {
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    z-index: -10
}

.sidebar-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 20px
}

.sidebar-menu, .sidebar-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.sidebar-menu__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: #595959
}

    .sidebar-menu__item span {
        display: block;
        font-weight: 500;
        margin-left: 10px;
        font-size: 15px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .sidebar-menu__item:hover {
        background-color: #ededed
    }

    .sidebar-menu__item.active {
        background-color: #030303;
        color: #fff;
        position: relative
    }

        .sidebar-menu__item.active:after {
            content: "";
            width: 2px;
            background-color: #fff;
            height: 60%;
            position: absolute;
            right: 10px;
            top: 20%;
            border-radius: 5px;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s
        }

.sidebar.collapsed {
    width: 69px;
    max-width: 69px
}

    .sidebar.collapsed ~ .page {
        width: calc(100% - 69px) !important
    }

    .sidebar.collapsed .sidebar-logo {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 25px 12px
    }

        .sidebar.collapsed .sidebar-logo img {
            width: 40px
        }

        .sidebar.collapsed .sidebar-logo span {
            opacity: 0
        }

    .sidebar.collapsed .sidebar-menu {
        padding: 20px 10px
    }

    .sidebar.collapsed .sidebar-menu__item {
        padding: 12px
    }

        .sidebar.collapsed .sidebar-menu__item.active:after {
            opacity: 0
        }

        .sidebar.collapsed .sidebar-menu__item:hover span {
            opacity: 1
        }

        .sidebar.collapsed .sidebar-menu__item span {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            position: absolute;
            left: 65px;
            background-color: #030303;
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
            z-index: -10;
            opacity: 0;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s
        }

        .avatar, .sidebar.collapsed .sidebar-menu__item span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex
        }

.avatar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat
}

.avatar-140 {
    min-width: 140px;
    min-height: 140px
}

.avatar-120 {
    min-width: 120px;
    min-height: 120px
}

.navbar {
    padding: 0 30px;
    height: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden
}

.navbar, .navbar-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar-content {
    width: 100%
}

.navbar-breadcrumbs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .navbar-breadcrumbs, .navbar-breadcrumbs h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

        .navbar-breadcrumbs h3 {
            font-size: 18px;
            font-weight: 700;
            color: #142232
        }

            .navbar-breadcrumbs h3:after {
                content: "";
                height: 20px;
                display: block;
                background-color: #e3e3e3;
                width: 1px;
                margin: 0 15px
            }

        .navbar-breadcrumbs p {
            color: #657786;
            font-weight: 500
        }

.navbar-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .navbar-actions svg {
        width: 22px;
        height: 22px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        margin-left: 20px;
        color: #717171
    }

        .navbar-actions svg:hover {
            cursor: pointer;
            color: #316cf4
        }

        .navbar-actions svg.navbar-notifications:hover {
            -webkit-animation: bell 2s;
            animation: bell 2s
        }

        .navbar-actions svg.navbar-settings:hover {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg)
        }

.navbar-avatar {
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(49,108,244,.2);
    color: #316cf4;
    border-radius: 50%
}

.navbar-avatar, .navbar-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar-profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    padding: 15px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border: 1px solid rgba(0,0,0,0);
    margin-left: 10px
}

    .navbar-profile:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        border-radius: 10px;
        border-color: #e3e3e3
    }

.navbar-info {
    margin-left: 14px
}

    .navbar-info h3 {
        font-size: 14px;
        color: #142232;
        white-space: nowrap
    }

    .navbar-info p {
        margin-top: 3px;
        font-size: 12px;
        color: #657786
    }

@-webkit-keyframes bell {
    0% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg)
    }

    12.5% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }

    25% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }

    37.5% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }

    62.5% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes bell {
    0% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg)
    }

    12.5% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }

    25% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }

    37.5% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }

    62.5% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

.tasknavbar {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 30px
}

.tasknavbar, .tasknavbar-access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.tasknavbar-access {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-right: 30px;
    color: #657786
}

    .tasknavbar-access.active {
        color: #316cf4
    }

        .tasknavbar-access.active svg {
            -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg)
        }

    .tasknavbar-access svg {
        margin-left: 10px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s
    }

.tasknavbar-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.tasknavbar-info-boardname {
    font-weight: 600;
    font-size: 18px;
    color: #142232;
    margin-right: 20px
}

.tasknavbar-info-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #657786;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer
}

    .tasknavbar-info-filter svg {
        margin-left: 10px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s
    }

    .tasknavbar-info-filter.active {
        color: #316cf4
    }

        .tasknavbar-info-filter.active svg {
            -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg)
        }

    .tasknavbar-info-filter:hover {
        color: #316cf4
    }

.tasknavbar-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px
}

.tasknavbar-member {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: -10px;
    overflow: hidden;
    border: 2px solid #fff
}

    .tasknavbar-member img {
        width: 100%
    }

.tasknavbar-member__count {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px;
    height: 35px;
    border-radius: 20px;
    margin-left: -15px;
    background-color: #316cf4;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #fff
}

.tasknavbar-member__count, .tasknavbar-settings {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.tasknavbar-member__count, .tasknavbar-settings, .tasknavbar-view, .tasknavbar-view__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.tasknavbar-view__type {
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-left: 10px
}

    .tasknavbar-view__type:first-child {
        margin-left: 0
    }

    .tasknavbar-view__type.active {
        border-color: #e3e3e3
    }

    .tasknavbar-view__type:hover {
        cursor: pointer;
        border-color: hsla(0,0%,89%,.5)
    }

.lazy-loader {
    border: .25em solid hsla(0,0%,44.3%,.36);
    border-right-color: rgba(0,0,0,0);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
    position: absolute;
    left: calc(50% - 22px);
    top: 50%;
    z-index: 10
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px
}

.tag {
    font-size: 12px;
    font-weight: 500px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

    .tag.pink {
        color: #7f44cb;
        background-color: rgba(127,68,203,.1)
    }

        .tag.pink:hover {
            background-color: rgba(127,68,203,.2)
        }

    .tag.red {
        color: #cb444a;
        background-color: rgba(203,68,74,.1)
    }

        .tag.red:hover {
            background-color: rgba(203,68,74,.2)
        }

    .tag.green {
        color: #6cc2a4;
        background-color: rgba(108,194,164,.1)
    }

        .tag.green:hover {
            background-color: rgba(108,194,164,.2)
        }

    .tag.orange {
        color: #ff9c29;
        background-color: rgba(255,156,41,.1)
    }

        .tag.orange:hover {
            background-color: rgba(255,156,41,.2)
        }

    .tag.blue {
        color: #316cf4;
        background-color: rgba(49,108,244,.1)
    }

        .tag.blue:hover {
            background-color: rgba(49,108,244,.2)
        }

    .tag.yellow {
        color: #f5c344;
        background-color: rgba(245,195,68,.1)
    }

        .tag.yellow:hover {
            background-color: rgba(245,195,68,.2)
        }

.task-dialog-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 20px;
    height: 100vh;
    position: fixed;
    width: 100%;
    text-align: right;
    color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

    .task-dialog-close:hover {
        background-color: hsla(0,0%,100%,.1);
        cursor: pointer
    }

.task-dialog-content {
    background: #fff;
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.task-dialog-content, .task-dialog-content__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.task-dialog-content__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column
}

.task-dialog-content__info-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #142232;
    margin-bottom: 15px
}

    .task-dialog-content__info-name span {
        font-weight: 500;
        background-color: rgba(101,119,134,.1);
        color: #657786;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px
    }

.task-dialog-content__info-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.task-dialog-content__info-headline {
    color: #142232;
    margin: 15px 0 10px
}

.task-dialog-content__info-description {
    color: #657786;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%
}

.task-dialog-splitter {
    width: 1px;
    height: 100%;
    background-color: #e3e3e3;
    margin: 0 20px
}

.task-dialog-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -20;
    opacity: 0;
    background-color: rgba(0,0,0,.8)
}

    .task-dialog-wrapper.active {
        -webkit-animation: showtaskwrapper .2s;
        animation: showtaskwrapper .2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        z-index: 100
    }

        .task-dialog-wrapper.active .task-dialog-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            width: 100%;
            margin-top: 60px;
            -webkit-animation: showtaskinfo .5s;
            animation: showtaskinfo .5s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: .2s;
            animation-delay: .2s
        }

@-webkit-keyframes showtaskwrapper {
    to {
        opacity: 1
    }
}

@keyframes showtaskwrapper {
    to {
        opacity: 1
    }
}

@-webkit-keyframes showtaskinfo {
    to {
        opacity: 1;
        z-index: 100;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes showtaskinfo {
    to {
        opacity: 1;
        z-index: 100;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@media only screen and (max-width:766.98px) {
    .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

        .wrapper .page, .wrapper .sidebar {
            min-width: 100%
        }

            .wrapper .page .content {
                height: 700px
            }

    .login-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

    .login-panel-left {
        width: 100%;
        height: auto;
        padding: 50px;
        min-height: 100vh
    }

    .login-panel-right {
        display: none
    }

    .task-content {
        height: auto;
        overflow-y: scroll;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

    .task-board {
        width: 100%;
        padding: 0;
        min-width: auto;
        background-color: rgba(0,0,0,0)
    }

    .task-board-info-count, .task-board-info-name {
        display: none
    }

    .task-block {
        border: 1px solid #e3e3e3
    }

    .profile-background {
        height: 200px
    }

    .profile-info {
        width: calc(100% - 30px) !important;
        left: 15px;
        top: 100px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .sidebar-logo {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        padding: 15px 25px !important
    }

    .sidebar-logo__content img {
        width: 48px !important
    }

    .sidebar-logo__content span {
        display: inline-block !important
    }

    .sidebar-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .sidebar-menu {
        padding: 30px !important;
        display: none !important
    }

    .sidebar-menu__item span {
        color: #595959 !important
    }

    .navbar-profile, .tasknavbar-info-boardname, .tasknavbar-members {
        display: none
    }
}

@media only screen and (max-width:1398.98px) {
    .wrapper .sidebar {
        width: 25%
    }
}

@media only screen and (max-width:1198.98px) {
    .wrapper .sidebar {
        width: 70px
    }

    .wrapper .page {
        width: calc(100% - 70px)
    }

    .sidebar-logo {
        padding: 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .sidebar-logo__content img {
        width: 32px
    }

    .sidebar-logo__content span {
        display: none
    }

    .sidebar-menu {
        padding: 20px 10px
    }

    .sidebar-menu__item {
        width: 49px;
        height: 49px;
        padding: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

        .sidebar-menu__item:hover span {
            opacity: 1
        }

        .sidebar-menu__item span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            position: absolute;
            left: 65px;
            background-color: #030303;
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
            z-index: -10;
            opacity: 0;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s
        }

        .sidebar-menu__item.active:after {
            display: none
        }
}

@media only screen and (max-width:990.98px) {
    .login-panel-left {
        min-width: 60%
    }

    .profile-info {
        width: calc(100% - 60px)
    }

    .profile-navigation {
        padding: 170px 0 20px 30px
    }

    .sidebar.collapsed .sidebar-logo span {
        opacity: 1
    }

    .navbar-breadcrumbs h3 {
        display: none
    }
}

@media only screen and (max-width:574.98px) {
    .login-form-buttons, .login-form-buttons-left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

    .login-form-buttons-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

        .login-form-buttons-left input {
            margin: 0 0 15px
        }

    .task-footer {
        width: 100%
    }

    .task-footer-info {
        white-space: 10px;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        width: 100%;
        gap: 10px 20px
    }

    .task-footer-info-block {
        margin-left: 0;
        margin-top: 5px
    }

    .profile-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

        .profile-buttons .btn {
            margin-left: 0
        }

            .profile-buttons .btn:last-child {
                margin-top: 10px
            }

    .profile-navigation {
        padding: 200px 0 20px 30px
    }

    .navbar-content {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start
    }

    .navbar-breadcrumbs p {
        display: none
    }

    .navbar-actions .search-control {
        width: 100%
    }

    .tasknavbar-access {
        display: none
    }
}

@media only screen and (min-width:767.98px) {
    .sidebar-toggle.active ~ .sidebar-toggle-background, .sidebar-toggle.active ~ .sidebar-toggle-content {
        z-index: -10;
        opacity: 0
    }
}